<div class="container-fluid h-100">
  <header class="row">
    <div class="col p-2 border-bottom text-center"><h1 class="m-1">Health Nut</h1></div>
  </header>
  <div class="row h-100">
    <div id="side-nav" class="col-1 h-inherit border">
      <ul class="list-unstyled">
        <li class="border-bottom"><p class="m-1">Home</p></li>
        <li class="border-bottom"><p class="m-1">Diet</p></li>
        <li class="border-bottom"><p class="m-1">Excercise</p></li>
      </ul>
      </div>
    <div id="main-content" class="col"><router-outlet></router-outlet></div>
  </div>
</div>